@import '../../assets/vars-and-mixins';
.edit-photo-modale-mask {
  @include backgroundModal();
  .edit-photo-modale-container {
    position: absolute;
    top: calc(5% + #{$heightTopBarMenu});
    left: 50%;
    transform: translate(-50%);
    @include popUpOrBoxInModal(90vw);
    .close-icon {
      float: right;
      color: $darkGrey;
    }
  }
}

@media screen and (min-width: $maxMobileWidth + 1) {
  .edit-photo-modale-mask {
    @include popUpOrBoxInModal(40vw);
  }
}

