@import "../../assets/vars-and-mixins";
.add-photos {
  color: white;
  form {
    display: flex;
    flex-direction: column;
    .gnalFormErrorMessage {
      color: red;
      font-size: .9rem;
      margin-top: 1em;
    }
  }
}
