@import "../../assets/vars-and-mixins";

.photos-container {
  width: calc(100vw - (#{$widthLittleSidebar}));
  margin-left: $widthLittleSidebar;
  height: 100%;
  overflow: hidden;
  text-align: center;
  &__images-to-show {
    // width: auto;
    height: 100%;
  }
}
