@import "../../assets/vars-and-mixins";

.photos-container {
  width: calc(100vw - (#{$widthLittleSidebar}));
  margin-left: $widthLittleSidebar;
  height: 100%;
  overflow: hidden;
  text-align: center;
  &__images-to-show {
    height: auto;
    max-height: 100vh;
    max-width: 80vw;
    /*&.horizontal {
      height: auto;
      max-height: 100vh;
      max-width: 80vw;
    }
    &.vertical {
      width: auto;
      max-height: 100vh;
    }*/
  }
}
