.photo-to-big-message {
  font-size: .7em;
  color: red;
}
.input-to-add-photo {
  font-size: .6em;
  font-family: 'Roboto', sans-serif;
}
.add-photos__upload-photo-container {
  display: flex;
  margin-top: 0.3em;
  justify-content: space-between;
}
