$mainColor: rgb(60,60,60);
$mainFontSize: 33px;
.pagination-perso {
  background-color: rgba(240,240,240,.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .3em;
  &__icons,  &__numeros {
    color: $mainColor;
    font-size: $mainFontSize;
    cursor: pointer;
    &.little {
      font-size: 40px;
    }
  }
  .isDisabled {
    color: rgb(100,110,100);
    cursor: auto;
  }
  .isTheActiveNumero {
    font-weight: bold;
    color: black;
    font-size: calc(#{$mainFontSize} + 7px);
  }
}
