@import "../../assets/vars-and-mixins";

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 50px;
  z-index: 2;
  display: flex;
  background-color: rgb(50,50,70);
  &:hover {
  cursor: pointer;
}
  // -webkit-transition: 0.3s width;
  // transition: 0.3s width;
  &__little {
    width: $widthLittleSidebar;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vh;
    color: white;
    font-size: 120%;
  }
  &__extended {
    padding-right: 1em;
    width: $widthExtendedSidebar;
  }
}

