// ------------ Colors : ------------ //
$lightLightGrey: #e7e7e7;
$lightGrey: #787a7b;
$darkGrey: #010819;
$darkGreyMainMenus: #292929;
$colorHoverText: #f2611e;
$colorBackgroundButton: #c28f78;
// ------------ End Colors : ------------ //

// ------------ Spacings : ------------ //
$mainLateralSpace: 1em;
$mainLateralSpaceMobile: .5em;
$mainVerticalSpace: .3em;
// ------------ End Spacings : ------------ //

// ------------ Typo : ------------ //
// ------------ End Typo : ------------ //



// ------------ Others : ------------ //
$maxMobileWidth: 768px;
$heightInputs: 3em;
$widthLittleSidebar: 60px;
$widthExtendedSidebar: 380px;
$heightTopBarMenu: 50px;
$mainBorderRadius: .2em;
// ------------ End Others : ------------ //


@mixin homeMadeButton ($width: 50px, $height: 25px, $color: white, $color-hov: white, $backgroundC: rgb(150,150,150), $backgroundC-hov: rgb(50,50,50), $paddings: .2em, $borderR: .3em, $font-size: .9em)
{
  height: $height;
  width: $width;
  color: $color;
  padding: $paddings;
  border-radius: $borderR;
  font-size: $font-size;
  cursor: pointer;
  border-style: none;
  background-color: $backgroundC;
  &:hover {
    background-color: $backgroundC-hov;
    color: $color-hov;
  }
}

@mixin backgroundModal($backgrounColor: rgba(0, 0, 0, .5)) {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backgrounColor;
}

@mixin popUpOrBoxInModal($width: 40vw) {
  z-index: 2;
  width: $width;
  height: auto;
  padding: $mainLateralSpace .7em;
  border-radius: .2em;
  background-color: rgba(254,254,254,.85);
  border: solid 1px $lightGrey;
  color: $darkGrey;
  font-size: 1.2rem;
  text-align: justify;
}
