@import "./assets/vars-and-mixins";
.app {
  @media screen and (max-width: $maxMobileWidth) {
    font-size: 16px;
  }
  @media screen and (min-width: $maxMobileWidth + 1){
    font-size: 18px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $lightGrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $lightGrey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $lightGrey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $lightGrey;
  }
  textarea::-webkit-input-placeholder {
    color: $lightGrey;
  }
  textarea:-moz-placeholder { /* Firefox 18- */
    color: $lightGrey;
  }
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: $lightGrey;
  }
  textarea:-ms-input-placeholder {
    color: $lightGrey;
  }
  textarea::placeholder {
    color: $lightGrey;
  }

  .only-4-tablet-and-desktop {
    @media screen and (max-width: $maxMobileWidth) {
      display: none!important;
    }
  }
  .only-4-mobiles {
    @media screen and (min-width: $maxMobileWidth + 1) {
      display: none!important;
    }
  }
  .titles {
    font-family: 'Cabin', sans-serif!important;
  }
  .h3-perso {
    color: $lightLightGrey;
  }
  .icons {
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    z-index: 99;
    position: relative;
  }
  .gnalFormErrorMessage {
    color: red;
    font-size: .9rem;
    margin-top: 1em;
  }
  .no-margin {
    margin: 0!important;
  }
  .labels-4-inputs {
    display: block;
    margin: 1em 0 .2em 0;
    font-size: .85em;
    color: $lightLightGrey;
  }
  .multiselect-perso {
    color: $darkGrey;
    .multiselect__tags { // Styles from vue-multiselect
      font-size: 1rem;
      padding-left: $mainLateralSpace;
    }
  }
  .main-inputs, .vdpComponent.vdpWithInput > input {
    width: calc(100% - #{$mainLateralSpace});
    border: 0;
    border-radius: $mainBorderRadius;
    font-size: 1rem;
    height: $heightInputs;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 $mainLateralSpace;
    &.date_picker {
      width: calc(100% - #{$mainLateralSpace});
      input {
        width: 100%;
        border: none;
        margin-left: -$mainLateralSpace;
        color: $darkGrey;
      }
    }
    &.text-area {
      height: inherit;
      padding-top: $mainVerticalSpace;
    }
  }
  .main-submit-button {
    @include homeMadeButton(11em, 2.5em, white , $darkGrey, $colorBackgroundButton, $colorHoverText, .2em, .2em, 1em);
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
  }
  // Adapt date-picker styles.
  .vdpClearInput {
    display: none;
  }
  .swal2-title {
    font-family: 'Raleway', sans-serif;
  }
  font-family: 'Raleway', sans-serif;
}
